.rotate{
    -moz-transition: all 0.5s linear;
    -webkit-transition: all 0.5s linear;
    transition: all 0.5s linear;
}

.rotate.left{
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    transform:rotate(-90deg);
}
.fw-wizard-container .postbox-container {
    width: 100%
}
.fw-wizard-container .meta-box-sortables {
    min-height: 200px
}
.fw-movediv, .fw-collapsediv {
    font-size: 16px;
    float: left;
    width: 27px;
    height: 30px;
    padding-top: 14px;
    padding-left: 5px;
    text-align: center
}
.fw-trashdiv {
    font-size: 16px;
    float: right;
    width: 27px;
    height: 30px;
    padding-top: 10px;
    margin-right: 10px;
    text-align: center;
    cursor: pointer
}
.fw-add-element {
    margin: 10px 0;
    border: 3px dashed #9E9E9E;
    padding: 10px;
    margin: 10px;
    text-align: center;
}
.thickbox > i.fa.fa-plus {
    font-size: 1.5em;
}
.fa-caret-down, .fa-caret-right {
  cursor: pointer;
}
.fw-add-element .fw-add-element-button {
    visibility: hidden
}
.fw-add-element:hover .fw-add-element-button {
    visibility: visible
}
.fw-elements-container .postbox {
    z-index: 1
}
.fw-wizard-container .postbox {
    z-index: 0
}
.fw-step-part {
    float: left
}
.fw-step-h1 {
  float:left;
}
.fw-step-h1 > span{
  padding-left: 10px!important;
}
.fw-clearfix {
    clear: both
}
.fw-elements {
    margin-bottom: 20px;
}
.fw-elements-container {
    position: absolute;
    width: 20%;
    height: 400px;
}
.fw-elements-container.fw-sticky {
    position: fixed;
    top: 25px;
    z-index: 5;
    width: 15%;
}
.fw-wizard-container {
    width: 75%;
    margin-left: 24%
}
.fw-over {
    border: 5px dashed #0085ba;
}

.fw-step {
  padding: 20px;
}

.fw-step-part {
    padding: 10px;
    margin: 10px;
    width: 90%;
    background-color: #F5F5F5;
    border: 1px solid #e0e0e0;
    -webkit-box-shadow: 5px 5px 10px 0px rgba(219, 219, 219, 1);
    -moz-box-shadow: 5px 5px 10px 0px rgba(219, 219, 219, 1);
    box-shadow: 5px 5px 10px 0px rgba(219, 219, 219, 1);
}
.fw-step-block {
  padding: 10px;
  margin: 25px 10px;
}
.fw-step-block[data-type="radio"] {
    border-left: 8px solid mediumaquamarine;
}
.fw-step-block[data-type="checkbox"] {
    border-left: 8px solid #0085ba;
}
.fw-step-block[data-type="text"] {
    border-left: 8px solid crimson;
}
.fw-step-block[data-type="textarea"] {
    border-left: 8px solid green;
}
.fw-step-block[data-type="submit"] {
    border-left: 8px solid #00255a;
}
.fw-column-buttons {
    display: none;
}
.fw-parts-header {
    display: flex;
}
a.fw-add-part.button-secondary {
    margin-left: 10px;
    margin-top: 12px;
}
.postbox {
    min-width: 200px;
}
.fw-part-title {
    font-size: 1.7em;
    line-height: 100%;
    height: 1.7em;
    width: 95%;
}
.fw-remove-part {
    color: crimson;
    float: right;
}
.fw-remove-block {
  color: crimson;
  float: right;
}
.fw-remove-radio-option {
  display: inline-block;
  margin-left: 10px;
}
.fw-radio-header {
  height: 3em;
  width: 100%;
  margin-bottom: 20px;
}
.fw-radio-option, input[type=text] {
  height: 2.5em;
  width: 60%;
  margin-bottom: 10px;
}
button.fw-radio-add.button-secondary {
  margin-top: 10px;
}
.fw-block-heading {
  font-size: 18px;
  margin-bottom: 0px;
}
.fw-block-heading > h4 {
  display: inline-block;
  margin-bottom: 0px;
  margin-top: 0px;
}
.fw-block-hndle{
  cursor: all-scroll;
}
.fw-alert {
  margin-top: 10px;
  color: green;
}
.fw-alert .fw-alert-fail {
  color: red;
}
/* Thickbox */
div#TB_ajaxContent > div {
    display: inline-block;
    border: 1px solid gray;
    width: 26%;
    text-align: center;
    padding: 15px;
    margin: 5px;
}
.ui-tooltip {
  color: white;
  background-color: #5a5a5a;
  border-radius: 10px;
  z-index: 430;
  width: 100px;
  padding: 10px;
  -webkit-box-shadow: 1px 1px 30px 0px rgba(0,0,0,0.42);
  -moz-box-shadow: 1px 1px 30px 0px rgba(0,0,0,0.42);
  box-shadow: 1px 1px 30px 0px rgba(0,0,0,0.42);
}
.fw-block-placeholder {
  display: block;
  height: 25px;
  background-color: #dadada;
  border: 4px dashed #0085ba;
}
p.fw-block-spoiler {
    margin: 5px 10px 0;
}
